.md-typeset__table {
    width: 100%;
}

.md-typeset__table table:not([class]) {
    display: table;
}

.md-tabs {
    background-color: #ffffff00;
    margin: 10px;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
}

.md-tabs__item--active {
    background-color: var(--md-primary-fg-color);
    border-radius: 40px;
    font-weight: 700;
    backdrop-filter: blur(0.3em);
}

.md-header {
    border-radius: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    backdrop-filter: blur(0.3em);
}

.md-footer {
    border-radius: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.md-top {
    background-color: var(--md-primary-fg-color);
    backdrop-filter: blur(0.3em);
}

.md-top:hover {
    background-color: var(--md-primary-fg-color);
    backdrop-filter: blur(1em);
    color: teal;
    font-weight: 700;
}

.md-top:focus {
    background-color: var(--md-primary-fg-color);
    backdrop-filter: blur(0.3em);
}

.md-typeset code {
    background-color: var(--md-primary-fg-color--light);
    color: var(--md-default-fg-color-dark);
    font-size: 1em;
    border-radius: 0.1em;
    padding: 0.1em 0.2em;
}

@font-face {
    font-family: "UnifontExMono";
    src: "assets/fonts/UnifontExMono.ttf";
}

@font-face {
    font-family: "Open Sans";
    src: "assets/fonts/OpenSans-VariableFont_wdth,wght.ttf";
}

:root {
    --md-text-font: "Open Sans";
    --md-code-font: "UnifontExMono";
}

[data-md-color-scheme="sfe-light"] {
    --md-default-bg-color: #ffffffff;
    --md-default-fg-color: #111111ff;
    --md-default-fg-color--dark: #000000ff;
    --md-default-fg-color--light: #222222ff;
    --md-primary-fg-color: #90ee907f;
    --md-primary-bg-color: teal;
    --md-primary-fg-color--light: #a8d7a87f;
    --md-primary-fg-color--dark: #60ce807f;
    --md-accent-fg-color: #60ce80ff;
    --md-accent-bg-color: #60ce80ff;
    --md-accent-fg-color--light: #60ce80ff;
    --md-accent-fg-color--dark: #60ce80ff;
    --md-footer-bg-color: #90ee907f;
    --md-footer-bg-color--dark: #00000000;
    --md-footer-fg-color: teal;
    --md-footer-fg-color--light: teal;
    --md-footer-fg-color--lighter: teal;
    --md-typeset-a-color: teal;
    --md-typeset-color: #000000ff;
    --md-typeset-table-color: teal;
}

[data-md-color-scheme="sfe-dark"] {
    --md-default-bg-color: #252525ff;
    --md-default-fg-color: #eeeeeeff;
    --md-default-fg-color--dark: #ddddddff;
    --md-default-fg-color--light: #ffffffff;
    --md-primary-fg-color: #90ee907f;
    --md-primary-bg-color: #bfffcfff;
    --md-primary-fg-color--light: #a8d7a87f;
    --md-primary-fg-color--dark: #60ce807f;
    --md-accent-fg-color: teal;
    --md-accent-bg-color: teal;
    --md-accent-fg-color--light: teal;
    --md-accent-fg-color--dark: teal;
    --md-footer-bg-color: #90ee907f;
    --md-footer-bg-color--dark: #00000000;
    --md-footer-fg-color: #bfffcfff;
    --md-footer-fg-color--light: #bfffcfff;
    --md-footer-fg-color--lighter: #bfffcfff;
    --md-typeset-a-color: #bfffcfff;
    --md-typeset-color: #c7c7c7ff;
    --md-typeset-table-color: #bfffcfff;
}